@import "../utils/variables.scss";

.inputField {
	letter-spacing: inherit;
	font-weight: inherit;
	font-size: inherit;
	background-color: transparent;
	color: $text-color;
	border: $border-styles;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	font-family: inherit;
	margin: 12px 0px;
}

textarea {
	resize: none;
	height: 100px;
	letter-spacing: inherit;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}

.sendWrapper {
	position: relative;
}

.sendBtn {
	background-color: transparent;
	font-family: inherit;
	font-weight: inherit;
	font-size: $content-size;
	letter-spacing: 1px;
	color: $text-color;
	border: $border-styles;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	margin: 2px 0px;
	display: inline-block;
	box-sizing: border-box;
	transition: background-color .3s;
	&:hover {
		background-color: rgba(104, 103, 138, 0.35);
	}
}

.alert {
	letter-spacing: 1px;
	opacity: 50;
	position: absolute;
	margin: 2px 12px;
	padding: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: $content-size;
	border-radius: 5px;
	background-color: #1b1b2d;
	height: 31.5px;
	width: 260px;
	box-sizing: border-box;
}

.alertSuccess {
	color: #bed8a9;
	border: 1px solid #bed8a9;
	box-sizing: border-box;
	padding: 5px;
}

.alertError {
	color: #e6acb2;
	border: 1px solid #e6acb2;
	box-sizing: border-box;
	padding: 5px;
}

.alertShown {
	opacity: 50;
	transition: all 250ms linear;
}

.alertHidden {
	opacity: 0;
	transition: all 250ms linear;
}

.alertMsg {
	height: 28.5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.errorIcon {
	margin-right: 7px;
}

.loading {
	position: absolute;
	margin: 2px 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	height: 31.5px;
}

@media (max-width: 711px) {
	.sendBtn {
		font-size: $content-size-smallscreen;
	}
	.alert {
		font-size: $content-size-smallscreen;
		height: 29px;
		width: 240px;
		background-color: #201f3e;
	}
	textarea {
		height: 27%;
	}
}

@media (max-width: 355px) {
	.alert {
		position: fixed;
		bottom: 1.5%;
		left: 2.5%;
		width: 95%;
		box-shadow: none;
		margin: 0;
		background-color: #2c2b4a;
	}
}
