.main {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
  height: 90.6vh;
  color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: Inter, sans-serif; 
}

.title {
  font-size: 32px;
  letter-spacing: 1.8px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  cursor: default;
  text-align: center;
}

.content {
  text-align: center;
  width: 55vw;
  margin: 10px 0px;
  padding: 6px 0px 16px 0;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.btn:hover {
  transform:scale(1.1, 1.1);
}

@media(max-width: 711px) {
  .main{
    font-size: 14px;
    height: 90.5vh;
  }

  .title {
    font-size: 28px;
  }

  .content {
    width: 85vw;
  }
}