.main {
  letter-spacing: 1.3px;
  font-weight: 300;
  font-size: 16px;
  height: 90vh;
  color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textBanner {
  width: 67vw;
  height: 67vh;
  /* background-color: rgba(0, 0, 0, 0.25); TODO: */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.title {
  letter-spacing: 1.5px;
  font-size: 31px;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.content {
  font-weight: 200;
  text-align: center;
  font-size: 13.5px;
  width: 45vw;
  margin: 15px 0px;
  padding: 7px 0px 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.btn:hover {
  transform:scale(1.1, 1.1);
}