@import "../utils/variables.scss";

.main {
	letter-spacing: $content-letter-spacing;
	font-weight: $content-weight;
	font-size: $content-size;
	height: 99.5vh;
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	font-family: $content-font-family;
	& svg {
		height: 26px;
		&:hover {
			cursor: pointer;
		}
	}
}

.title {
	font-size: 32px;
	letter-spacing: 1.8px;
	font-family: $title-font-family;
	font-weight: bold;
	cursor: default;
	text-align: center;
}

.content {
	text-align: center;
	width: 55vw;
	margin: 10px 0px;
	padding: 6px 0px 16px 0;
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.btn {
	&:hover {
		transform: scale(1.1, 1.1);
	}
}

.icon_bounce {
	height: 100%;
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s cubic-bezier(0, 1.2, .2, 1.5);
	&:hover {
		transform: scale(1.08, 1.08);
	}
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 735px) {
	.main {
		font-size: $content-size-smallscreen;
	}

	.title {
		font-size: 28px;
	}

	.content {
		width: 85.5vw;
		padding: 6px 0px 13px 0;
	}
}

@media (max-width: 420px) {
	.main {
		height: 90vh;
	}

	.content {
		padding: 6px 0px 10px 0;
	}
}
