.main {
  letter-spacing: 1.5px;
  font-weight: 300;
  color: rgb(230, 230, 230);
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  background-color: aqua;
  right: 0px;
}

.content {
  font-weight: 200;
  flex: 6;
  margin-right: 13%;
  padding: 10px;
  background-color: rgba(25,25,25, 0.4);
}

.homelink {
  cursor: pointer;
  color:rgb(208, 255, 249);
  border-bottom: 1px solid rgb(208, 255, 249);
}


@media(max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .content {
    margin: 0;
    width: 70%;
    box-sizing: border-box;
  }
}