.main {
  letter-spacing: 1.3px;
  font-weight: 200;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(226, 226, 226);
  position: relative;
}

.title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(169, 185, 207);
  text-align: center;
  font-weight: 420;
  font-family: Inter, sans-serif;
  font-size: 19.5px;
  letter-spacing: 1.6px;
  cursor: default;
  font-weight: 420;
  font-family: Inter, sans-serif;
  font-size: 23.5px;
}

.content {
  align-self: center;
  font-size: 14px;
  flex: 6;
  margin-right: 13%;
  padding: 10px;
  background-color: rgba(25,25,25, 0.4);
  border-radius: 5px;
  letter-spacing: 1.3px;
  font-family: Inter, sans-serif;
  cursor: default;
}

.homelink {
  cursor: pointer;
  color:rgb(208, 255, 249);
  border-bottom: 1px solid rgb(208, 255, 249);
}

.inputField {
  letter-spacing: 1.4px;
  font-weight: 200;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(169, 185, 207);
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  margin: 8px 0px;
}

textarea {
  resize: none;
  height: 100px;
}

.sendBtn {
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  letter-spacing: 1.3px;
  color: rgb(226, 226, 226);
  border: 1px solid rgb(169, 185, 207);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 8px 0px;
  display: inline-block;
}

.sendBtn:hover {
  background-color: rgba(104, 103, 138, 0.35);
}

.loading {
  position: absolute;
  margin: 8px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  height: 29.5px;
}

.mobileFooter {
  display: none;
}

.alert {
  opacity: 50;
  position: absolute;
  margin: 8px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 14px;
  border-radius: 5px;
  background-color: #1b1b2d;
  height: 29.5px;
  width: 240px;
}

.alertSuccess {
  color: #bed8a9;
  border: 1px solid #bed8a9;
}

.alertError {
  color: #e6acb2;
  border: 1px solid #e6acb2;
}

.alertSuccess, .alertError {
  box-sizing: border-box;
  padding: 5px;
}

.alertShown {
  opacity: 50;
  transition: all 250ms linear;
}

.alertHidden {
  opacity: 0;
  transition: all 250ms linear;
}

.alertMsg {
  height: 28.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.errorIcon {
  margin-right: 7px;
}

@media(max-width: 662px) {
  .alert {
    position: fixed;
    bottom: 2%;
    left: 2.5%;
    width: 95%;
    box-shadow: none;
    margin: 0;
  }

  .mobileFooter {
    flex-grow: 1;
    display: block;
  }

  .main {
    flex-direction: column;
  }
  .content {
    margin: 0;
    width: 70%;
    box-sizing: border-box;
    background-color: transparent;
  }
  textarea {
    resize: none;
    height: 27%;
  }
}

/* TODO: */
/* @media(max-width: 462px) {
  .alert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    box-shadow: none;
  }
} */