.main {
  letter-spacing: 1px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(245, 245, 245);
  position: relative;
  font-size: 16px;
}

.title {
  letter-spacing: 1.3px;
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(203, 216, 235);
  text-align: center;
  font-weight: 420;
  cursor: default;
  font-size: 29px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.content {
  align-self: center;
  flex: 6;
  margin-right: 13%;
  padding: 10px 10px 13px 10px;
  background-color: rgba(25,25,25, 0.4);
  border-radius: 5px;
  font-family: Inter, sans-serif;
  cursor: default;
}

.homelink {
  cursor: pointer;
  color:rgb(208, 255, 249);
  border-bottom: 1px solid rgb(208, 255, 249);
}

.inputField {
  letter-spacing: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(203, 216, 235);
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  margin: 12px 0px;
}

textarea {
  resize: none;
  height: 100px;
}

.sendWrapper {
  position: relative;
}

.sendBtn {
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(245, 245, 245);
  border: 1px solid rgb(203, 216, 235);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 2px 0px;
  display: inline-block;
  box-sizing: border-box;
  transition: background-color .3s;
}

.sendBtn:hover {
  background-color: rgba(104, 103, 138, 0.35);
}

.alert {
  letter-spacing: 1px;
  opacity: 50;
  position: absolute;
  margin: 2px 12px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1b1b2d;
  height: 31.5px;
  width: 260px;
  box-sizing: border-box;
}

.alertSuccess {
  color: #bed8a9;
  border: 1px solid #bed8a9;
}

.alertError {
  color: #e6acb2;
  border: 1px solid #e6acb2;
}

.alertSuccess, .alertError {
  box-sizing: border-box;
  padding: 5px;
}

.alertShown {
  opacity: 50;
  transition: all 250ms linear;
}

.alertHidden {
  opacity: 0;
  transition: all 250ms linear;
}

.alertMsg {
  height: 28.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.errorIcon {
  margin-right: 7px;
}

.loading {
  position: absolute;
  margin: 8px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  height: 29.5px;
}

.mobileFooter {
  display: none;
}

@media(max-width: 711px) {
  .main{
    height: 90%;
    flex-direction: column;
  }

  .title {
    font-size: 25px;
  }

  .mobileFooter {
    flex-grow: 1;
    display: block;
  }

  .main, .sendBtn {
    font-size: 14px;
  }

  .alert {
    height: 29px;
  }

  .content {
    margin: 0;
    width: 85%;
    padding: 0;
    background-color: transparent;
  }
  textarea {
    resize: none;
    height: 27%;
  }
}

@media(max-width: 367px) {
  .alert {
    position: fixed;
    bottom: 1.5%;
    left: 2.5%;
    width: 95%;
    box-shadow: none;
    margin: 0;
  }
}