@import "../utils/variables.scss";

.main {
	width: 100%;
	display: flex;
	display: -webkit-flexbox;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $text-color;
}

.navBar {
	height: 45px;
	width: 50vw;
	max-width: 460px;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: rgba(25,25,25, 0.4);
	border: $border-styles;
	border-radius: 5px;
	overflow: hidden;
}

.btn_mid {
	-webkit-flex: 1;
	flex: 1;
	border-left: $border-styles;
}

.btn_first {
	-webkit-flex: 1;
	flex: 1;
	border: none;
}

@media (max-width: 711px) {
	.navBar {
		flex-direction: column;
		height: 130px;
		width: 48vw;
	}
	.btn_mid {
		border-left: none;
		border-top: $border-styles;
	}
}
