@import "../utils/variables.scss";

.main {
	width: 100%;
	display: flex;
	display: -webkit-flexbox;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $text-color;
	margin-bottom: 25px;
}

.navBar {
	height: 45px;
	width: 50vw;
	max-width: 460px;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: rgba(25,25,25, 0.4);
	overflow: hidden;
}

.btn_mid {
	-webkit-flex: 1;
	flex: 1;
	border: $border-styles;
	border-radius: 5px;
	margin-left: 10.5px;
}

.btn_first {
	-webkit-flex: 1;
	flex: 1;
	border: none;
	border: $border-styles;
	border-radius: 5px;
}

@media (max-width: 711px) {
	.main {
		margin-bottom: 20px;
	}
	.navBar {
		flex-direction: column;
		height: 145px;
		width: 48vw;
	}
	.btn_mid {
    	margin-left: 0px;
    	margin-top: 7.2px;
	}
}
