.btn {
  font-weight: 400;
  text-transform: capitalize;
  height: 100%;
  width: 100%;
  color: rgb(245, 245, 245);
  cursor: pointer;
  transition: background-color .3s;
  z-index: 10;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: Inter, sans-serif; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: -webkit-flexbox;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
  
.btn_bounce {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s cubic-bezier(0, 1.2, .2, 1.5);
}

.btn_bounce:hover {
  transform:scale(1.08, 1.08);
}

.btn:hover {
  background-color: rgba(104, 103, 138, 0.35);
}

@media(max-width: 662px) {
  .btn{
    font-size: 14px;
  }
}