$text-color: rgb(245, 245, 245);
$link-color: rgb(208, 255, 249);
$border-styles: 1px solid rgb(203, 216, 235);
$content-size: 16px;
$content-size-smallscreen: 15px;
$content-weight: 300;
$content-letter-spacing: 1px;
$content-font-family: Inter, sans-serif;
$title-font-family: 'Lato', sans-serif;
$btn-hover-color: rgba(104, 103, 138, 0.35);