@import "../utils/variables.scss";

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
  line-height: 1.5;

  & a {
    cursor: pointer;
    color: $link-color;
    text-decoration: underline;
  }
}
